<h1>Division Result</h1>
<p>You entered:</p>
<ul>
  <li>First number: <%= @first_number %></li>
  <li>Second number: <%= @second_number %></li>
</ul>
<% if @result.is_a?(String) %>
  <p><%= @result %></p>
<% else %>
  <p>The result of dividing <%= @first_number %> by <%= @second_number %> is <%= @result %>.</p>
<% end %>
