<h1>Multiplication Result</h1>
<p>You entered:</p>
<ul>
  <li>First number: <%= @first_number %></li>
  <li>Second number: <%= @second_number %></li>
</ul>
<p>The result of multiplying <%= @first_number %> and <%= @second_number %> is <%= @result %>.</p>
